body {
  background: rgb(0, 34, 76);
  background: linear-gradient(155deg, rgba(0, 34, 76, 1) 0%, rgba(0, 0, 0, 1) 100%);
  color: whitesmoke;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: #ACD5F3;
}

.player-icons {
  max-width: 30px;
  max-height: 30px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". Info ."
    "left-aside Board right-aside"
    ". Options .";
}

.Info {
  grid-area: Info;
  text-align: center;
}

.Board {
  grid-area: Board;
}

.Options {
  grid-area: Options;
  padding: 10px;
  text-align: center;
}

.right-aside {
  grid-area: right-aside;
}

.left-aside {
  grid-area: left-aside;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #04081A;
  padding: 10px;
  color: #FB805D;
}

#player-one-score,
#player-two-score {
  color: #ACD5F3;
}

.grid-item {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 45px;
  font-size: 30px;
  text-align: center;
}

#game-scores {

  padding: 10px;
  text-align: center;
  margin: 10px;
  background-color: #04081A;
  border-radius: 5%;
}

#player-one-score,
#player-two-score {
  padding: 2px;
  background-color: #881A29;
  border-radius: 25%;
  color:125D8B;
  font-size: 25px;
}

.playerName {
  font-size: 12px;
  padding: 10px
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#define-human:checked+.slider {
  background-color: #125D8B;
}

#define-human:focus+.slider {
  box-shadow: 0 0 1px #ACD5F3;
}

#define-human:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#reset-board {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #125D8B;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
}
#reset-board:hover {
  background: #ACD5F3;
  text-decoration: none;
}